<div class="row">
  <div class="col-md-6 m-auto">
    <div class="container mt-5 pl-5">
      <h2 class="text-center">Login</h2>
      <form action="/employee" method="POST">
        <label>E-Mail Address</label>
        <input type="email" class="form-control" placeholder="Enter your E-mail" name="email">

        <label>Password</label>
        <input type="password" placeholder="Enter Password" name="password" class="form-control">

        <button type="submit" class="btn btn-primary mt-2 float-right">Login</button>
      </form>
    </div>
  </div>
</div>